{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Ticket {% endblock %}

{% block body %}


    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ competition.nomCompetition }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ competition.fraisCompetition }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ competition.dateCompetition ? competition.dateCompetition|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre Maximal d'inscrit</th>
                <td>{{ competition.nbrMaxInscrit }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ competition.etatCompetition }}</td>
            </tr>
            <tr>
                <th>Nombre de participant</th>
                <td>{{ competition.nbrParticipant }}</td>
            </tr>
        </tbody>
    </table>
    <div align="center" class="card-footer">
        <button class="au-btn au-btn-icon au-btn--green au-btn--small"><a style="color:#fff;" href="{{ path('app_competition_index') }}">Retour à la Liste</a></button>
    </div>


{% endblock %}

