{% if app.user and  not is_granted('ROLE_ADMIN')  %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {#    {{ encore_entry_link_tags('app') }} #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/gijgo.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/animated-headline.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('./frontOffice/css/style.css') }}">
    {% endblock %}


</head>
<body>
<header>
    <div class="header-area header-transparent" >
        {% include 'baseNav.html.twig' %}
    </div>
</header>


{% block body %}
{% endblock %}

</body>

<!-- Footer Start -->
<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" style="background-color: black ;">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>ENERGYBOX | CrossFit Center</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="{{path('app_competition_showFront')}}">Competitions</a></li>
                                    <li><a href="#"> Press & Blog</a></li>
                                    <li><a href="#"> Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Open hour</h4>
                                <ul><!--AZIZ bch ybaddalhom selon le planning elli bch yekhdmou-->
                                    <li><a href="#">Monday 11am-7pm</a></li>
                                    <li><a href="#"> Tuesday-Friday 11am-8pm</a></li>
                                    <li><a href="#"> Saturday 10am-6pm</a></li>
                                    <li><a href="#"> Sunday 11am-6pm</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>RESOURCES</h4>
                                <ul>
                                    <li><a href="/reclamation/new">Réclamation</a></li>
                                    <li><a href="/planning/crud/viewPlanning">Planning</a></li>
                                    <li><a href="/pack/tryindex">Abonnements</a></li>
                                    <li><a href="/our/menu">Restaurants</a></li>
                                    <li><a href="#">Materiaux</a></li>
                                    <!-- <li><a href="#"> Heal Insurance</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50" style="margin-top: -90px;">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a> <img src="{{ asset('./frontOffice/img/logo/LogoGymWhite.png') }}" alt="..."
                                         style="width:250px; height:300px;"></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1" style="margin-top: -90px;">BUILD PERFECT BODY<br>
                                        SHAPE FOR GOOD AND
                                        HEALTHY LIFE ..</p>
                                </div>
                            </div>
                            <!-- Footer Social -->
                            <div class="footer-social ">
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
{% block javascripts %}
    <script src="{{ asset('./frontOffice/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{ asset('./frontOffice/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/popper.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/bootstrap.min.js') }}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{ asset('./frontOffice/js/jquery.slicknav.min.js') }}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{ asset('./frontOffice/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/slick.min.js') }}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{{ asset('./frontOffice/js/wow.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/animated.headline.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/jquery.magnific-popup.js') }}"></script>

    <!-- Date Picker -->
    <script src="{{ asset('./frontOffice/js/gijgo.min.js') }}"></script>
    <!-- Nice-select, sticky -->
    <script src="{{ asset('./frontOffice/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/jquery.sticky.js') }}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{{ asset('./frontOffice/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/waypoints.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/hover-direction-snake.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- contact js -->
    <script src="{{ asset('./frontOffice/js/contact.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/jquery.form.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/mail-script.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/jquery.ajaxchimp.min.js') }}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{{ asset('./frontOffice/js/plugins.js') }}"></script>
    <script src="{{ asset('./frontOffice/js/main.js') }}"></script>

    {#   {{ encore_entry_script_tags('app') }} #}
{% endblock %}
</html>
{% else %}
<script>
	window.location.href = "{{ path('app_login') }}";

function logout() {
window.location.href = "{{ path('app_login') }}";

}
logout();
</script>{% endif %}