{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('./Regadminasset/fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ asset('./Regadminasset/css/owl.carousel.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('./Regadminasset/css/bootstrap.min.css') }}">

    <!-- Style -->
    <link rel="stylesheet" href="{{ asset('./Regadminasset/css/style.css') }}">
{% endblock %}
{% block body %}
    <div class="half">
    <div class="bg order-1 order-md-2" style="background-image: url('./frontOffice/img/gallery/admin1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="form-block" style="margin-bottom:-70px;">
              <div class="text-center mb-5">
              <h3> <strong>ENERGYBOX</strong><br>Admin register</h3>
              <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
              </div>
          {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group first">
               {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group first">
               {{ form_row(registrationForm.numTel, {'attr': {'class': 'form-control'}}) }}
               {{ form_errors(registrationForm.numTel) }}
            </div>
            <div class="form-group first">
               {{ form_row(registrationForm.email, {'attr': { 'class': 'form-control'}} )}}
            </div>
            <div class="form-group first">
                {{ form_label(registrationForm.image,"Image ") }}
                <br>
                {{ form_widget(registrationForm.image, {'attr': {'class': 'form-select'}}) }}
            </div>
            <div class="form-group first">
                {{ form_label(registrationForm.dateN,"Date Naissance ") }}
                <br>
                {{ form_widget(registrationForm.dateN, {'attr': {'class': 'form-control'}}) }}<br>
                {{ form_errors(registrationForm.dateN) }}
            </div>
            <div class="form-group first">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password', 'attr': {'class': 'form-control'}
                }) }}
            </div>
           {#  {{ form_row(form.recaptcha) }}#}

            <div class="d-sm-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption"></span></label>
                {{ form_row(registrationForm.agreeTerms) }}
                <a class="text-light" href="{{ path('app_login') }}">
                    <h6 style="color:#000000;  margin-left: 120px; text-decoration: underline;">Already have an account ?</h6>
                </a>
            </div><div style="margin-left:20px;">
                {{ form_row(registrationForm.recaptcha) }} 
    {# must be the same name of this put on the FormBuilder #}

    {{ form_errors(registrationForm.recaptcha) }}
</div>
            <div class="col-lg-12">
                <button type="submit-info" class="btn" style="margin-bottom: 10px; margin-left: 100px; background-color: #720000; color:#ffffff;">Register</button><br>
            </div>
            <br>

          {{ form_end(registrationForm) }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('./Regadminasset/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('./Regadminasset/popper.min.js') }}"></script>
    <script src="{{ asset('./Regadminasset/bootstrap.min.js') }}"></script>
    <script src="{{ asset('./Regadminasset/main.js') }}"></script>{% endblock %}