
<div class="card-body card-block">
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}},{'attr':{'class':'form-horizontal'}}) }}
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.nomFournisseur,"Nom :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.nomFournisseur, {'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.nomFournisseur) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.nomFournisseur) }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.contactFournisseur,"Contact :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.contactFournisseur, {'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.contactFournisseur) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.contactFournisseur) }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.emailFournisseur,"Email :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.emailFournisseur, {'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.emailFournisseur) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.emailFournisseur) }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.adresseFournisseur,"Adresse :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.adresseFournisseur, {'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.adresseFournisseur) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.adresseFournisseur) }}</small>
                    {% endif %}
                </div>
            </div>
            <div align="center" class="card-footer">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="zmdi zmdi-plus"></i>{{ button_label|default('Ajouter') }}</button>
                <button class="au-btn au-btn-icon au-btn--green au-btn--small"><a style="color:white;" href="{{ path('app_fournisseur_index') }}">Consulter Liste</a></button>
            </div>
        {{ form_end(form) }}
    </div>
