{% extends 'baseFront.html.twig' %}

{% block title %}EnergyBox | Comments{% endblock %}
{% block page %}Feel free to comment{% endblock %}
{% block body %}

    <section class="contact-section" style="width: 100%">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h5 class="contact-title">New Comment</h5>
                </div>
                <div class="col-lg-8">
                    {{form_start( form,{'attr':{'class':'form-contact contact_form','novalidate':'novalidate'}}) }}
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                {{form_widget( form.description,{'attr':{'class':'form-control','placeholder':'Comment here'}}) }}
                                <div style="color:red">
                                    <h1 style="color: red">{{ form_errors(form.description) }}</h1>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="form-group mt-3">
                        <div class="flex-center-start btn-group">
                            <aside class="single_sidebar_widget search_widget">

                                <button type="submit" class="button button-contactForm boxed-btn"><strong>{{ button_label|default('Add') }}</strong> </button>
                                <a href="{{ path('app_post_show', {'id': comment.post.id}) }}" class="button button-contactForm boxed-btn"><strong>Cancel</strong></a>
                            </aside>

                        </div></div>
                    {{ form_end(form)}}
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Buttonwood, California.</h3>
                            <p>Rosemead, CA 91770</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+1 253 565 2365</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>support@colorlib.com</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}